.nav-icon{
  width: 32px;
  height: 32px;
}

.nav-item{
  cursor: pointer;
}

.nav-item:hover{
  background-color: #dadada;
}

.active{
  color: rgb(91, 91, 236) !important;
}

.sidebar{
  transition: 0.2s;
  width: 300px;
  height: 100vh;
}

.sidebar-show{
  position: absolute;
  top: 0px;
  left: 0px;
}

.sidebar-hide{
  position: absolute;
  top: 0px;
  left: -240px;
}